*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    scroll-behavior: smooth;
}

body{
    background-color:#05c8cc;
    background-image: linear-gradient(134deg, rgb(12 26 42) 0%,rgb(10 23 38) 100% );
    overflow-x: hidden;
    overflow-y: hidden;
}

:root{
    --theme-color: #fb324f;
    --gray-text:#5c7089;
    --text-color:#aebed3;
    --gray-light-text:#7c8ea5;
    --light-color:rgb(21 37 55);
    --white-color:#fff;
    --black-color: #000;
    --prime-graadient1: linear-gradient(90deg, rgb(255 85 62) 0%,rgb(255 0 101) 100% );
    --prime-graadient2: linear-gradient(-90deg, rgb(255 85 62) 0%,rgb(255 0 101) 100% );
    --dark-graadient: linear-gradient(145deg, rgb(18 34 55) 0%,rgb(12 27 44) 100% );
    --transition : s;
    --transition1: 6s;
}

.loding{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #14182a;
    z-index: 999;
    animation: lodingAnimation 1.5s forwards linear;
}

/* @keyframes lodingAnimation{
    0%{
        opacity: 1;
    }
    95%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        display: none;
    }
} */

section{
    width: 100%;
    display: flex;
    position: relative;
}
aside{
    width: 13%;
    height: 100vh;
    padding: 2%;
    background-color: rgb(12 27 44);
    background-image: linear-gradient(145deg, rgb(18 34 55) 0%, rgb(12 27 44)100%);
    box-shadow: 0 42px 60px 0px rgb(0,0,0,0.2);
    position: relative;
    transition: var(--transition);
}

.sidebar-hight{
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.toggle-sidebar-btn{
    transform: rotate(180deg);
}
.small_screen_logo,
.small-logo{
    display: none;
}
.hide_element{
    display: none;
}
.show_element{
    display: block;
}

.sidebar-btn{
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 100px;
    z-index: 1;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.sidebar-btn i{
    fill: #fff;
    font-size: 1.6rem;
    color: var(--gray-light-text);
    transition: var(--transition);
}
.sidebar-btn::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(Images/sidebar_bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.music-menu{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 10px;
}
.music-menu h2{
    font-size: 1.1rem;
    text-transform: uppercase;
    color: var(--gray-text);
    font-weight: 400;
}

.music-menu ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.music-menu ul li{
    list-style: none;
}
.music-menu ul li a{
    color: var(--gray-light-text);
    /* color: aliceblue; */
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;

}
.music-menu ul li a p{
    transition: var(--transition);
}
.music-menu ul li:hover a p{
 color: var(--theme-color);
}
.music-menu ul li .active_link{
    color: var(--theme-color);
}
.music-menu ul li a span{
    background-image: url(Images/icon.svg);
    width: 25px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    transition: var(--transition) ease;
}

.music-menu ul li a i{
    background-position: 0 -37px;
}


.hero-container{
    width: 87%;
    padding: 1% 3%;
    display: flex;
    flex-direction: column;
    background-image: url(Images/hero_bg.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 58.5%;
    /* background-color:#02b2b0; */
}
.hero-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-top-col{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 15px;
}
.bars{
    display: none;
}
.searchbox{
    width: 60%;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(23 37 51);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
}
.searchbox input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 13px;
    font-weight: 500;
    color: var(--gray-light-text);
}

.searchbox i{
    color: var(--gray-light-text);
    font-size: 1.3rem;
    cursor: pointer;
}
.notification_icon{
    background-image: url(Images/icon.svg);
    background-position: -765px 15px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: rgb(23 37 51);
    background-repeat: no-repeat;
    display: inline-block;
    transition: var(--transition);
}
.notification_icon:hover{
    background-position: -765px -20px;
}

.user-info{
    display: flex;
    align-items: center;
    gap: 10px;
}
.user-img img{
    object-fit: cover;
    width: 55px;
    height: 55px;
    border-radius: 1px solid var(--theme-color);
    border-radius: 100%;
}

.user-login-wrapper h2{
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray-light-text);
    cursor: pointer;
}
.user-login-wrapper{
    position: relative;
}
.user-wrapper-dropdown{
    position: absolute;
    top: 100%;
    opacity: 0;
    background-color: rgb(23 37 51);
    padding: 15px 17px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: var(--transition);
}
.user-wrapper-dropdown::after{
    content: '';
    position: absolute;
    top: -10px;
    right: 15px;
    width: 20px;
    height: 20px;
    background: rgb(23 37 51);
    transform: rotate(45deg);
}
.user-wrapper-dropdown li{
    list-style: none;
}
.user-wrapper-dropdown li a{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}
.user-wrapper-dropdown li a p{
    color: var(--gray-light-text);
    transition: var(--transition);
}
.user-wrapper-dropdown li:hover a p{
    color:  var(--theme-color);
}
.user-wrapper-dropdown li a span{
    margin-right: 6px;
    width: 21px;
    height: 21px;
    display: inline-block;
    vertical-align:middle;
    background-image: url(Images/icon.svg);
    background-position: -1359px 3px;
    background-repeat: no-repeat;
    transition: var(--transition);
}
.user-wrapper-dropdown li:hover a span{
    background-position: -1359px -37px;
}
.user-wrapper-dropdown li .icon_logout{
    background-position: -1391px 0px;
}
.user-wrapper-dropdown li:hover a span{
    background-position: -1359px -37px;
}
.show-user-drapdown{
    opacity: 1;
    top: 150%;
}


.song-container{
    width: 41%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    position: relative;
}
.song-container::after {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    background-image: -webkit-linear-gradient(90deg, rgb(11 25 40) 0%, rgb(0 120 255 / 0%) 100%);
}

.song-container:hover::after {
    display: none;
}

.song-tabs{
    display: flex;
    align-items: center;
    gap: 50px;
    padding-bottom: 0;
    position: relative;
}
.song-tabs::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(90deg, rgb(48 69 95)40%, rgb(12 25 41)100%);
}