body {
    font-family: "Arial", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}
.container h1{
    color: greenyellow;
}
.inputbox input{
    height: 30px;
    border: 1px solid greenyellow;


}
.inputbox button{
    background-color:greenyellow;
    border: none;
    height: 30px;
    border-radius: 5px;
}
label {
    margin-top: 10px;
    display: block;
}

input {
    margin: 10px 0;
}

#qrcode {
    margin-top: 20px;
}